awscli==1.40.32
blinker==1.9.0
boto3==1.38.33
botocore==1.38.33
docutils==0.19
Flask==2.2.3
Flask-Limiter==3.12
Jinja2==3.1.6
pydantic==2.11.4
pydantic_core==2.33.2
Pygments==2.19.1
pyshark==0.6
python-dateutil==2.9.0.post0
PyYAML==6.0.2
rich==13.9.4
rsa==4.7.2
Werkzeug==2.2.3
