server:
  extraFlags:
    - web.enable-lifecycle
    - web.enable-admin-api
    - storage.tsdb.min-block-duration=1m
    - storage.tsdb.max-block-duration=1m

  global:
    external_labels:
      prometheus_from: myprom

  service:
    gRPC:
      enabled: true

  sidecarContainers:
    thanos-sidecar:   # null = completely stop the thanos-sidecar container
      image: quay.io/thanos/thanos:v0.31.0
      imagePullPolicy: IfNotPresent
      args:
        - sidecar
       # - --prometheus.url=http://localhost:9090/  # this allows to Thanos-Query talk(read metrics) from Prometheus
        - --tsdb.path=/data
        - --grpc-address=[$(POD_IP)]:10901
        - --http-address=[$(POD_IP)]:10902
       # - --objstore.config=$(OBJSTORE_CONFIG)    # uncomment in order to  upload metrics to S3
      volumeMounts:
        - mountPath: /data
          name: storage-volume
      env:
        - name: POD_IP
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: status.podIP
        - name: OBJSTORE_CONFIG
          valueFrom:
            secretKeyRef:
              name: thanos-objstore-config
              key: thanos.yaml
      ports:
        - name: http
          containerPort: 10902
          protocol: TCP
        - name: grpc
          containerPort: 10901
          protocol: TCP

thanos:
  compactor:
    enabled: false       # <—— THIS disables/enables all S3 activity, disables/enables S3 block management, preventing any uploads or deletions 
    image: quay.io/thanos/thanos:v0.31.0
    imagePullPolicy: IfNotPresent
    args:
      - compactor
      - --objstore.config=$(OBJSTORE_CONFIG)
      - --http-address=0.0.0.0:10902
      - --grpc-address=0.0.0.0:10901
      - --retention.resolution-raw=30m   # delete raw blocks older than 30 days
      # - --retention.resolution-5m=90d  # optional: downsampled 5m
      # - --retention.resolution-1h=1y   # optional: downsampled 1h
   # env:
    #  - name: OBJSTORE_CONFIG
     #   valueFrom:
      #    secretKeyRef:
       #     name: thanos-objstore-config
        #    key: thanos.yaml
